.extra {
  border-top: 1px solid var(--color-doveGray);

  @include sm {
    border: none;
  }
}

.extra__container {
  @include padding-y(15px);
}

.extra__list {
  @include list-reset;
  @include flex-between-center;

  @include sm {
    display: block;
    text-align: center;
  }
}

.extra__item {
  @include xl {
    &:nth-child(2) {
      display: none;
    }
  }

  @include lg {
    &:first-child {
      display: none;
    }
  }

  @include sm {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.extra__item-text,
.extra__item-link {
  @include model-reset;
  @include font(15px, 25px);

  color: var(--color-darkGreen);
  opacity: 0.5;
}

.extra__item-link {
  @include link-reset;
  @include transition-opacity;

  display: inline-block;

  &:focus {
    outline: var(--outline-primary);
  }

  &:hover {
    opacity: var(--hover-opacity);
  }

  &:active {
    opacity: var(--active-opacity);
  }
}