.main-header {
  @include absolute(top 0 left 0 right 0);

  z-index: 20;
}

.main-header__container {
  @include padding-y(30px);
  @include flex-between-center;

  column-gap: 80px;

  @include xl {
    column-gap: 60px;
  }

  @include sm {
    column-gap: 40px;
  }
}

.main-header__main-nav {
  flex-grow: 1;

  @include md {
    flex-grow: 0;
    margin-left: auto;
  }
}

.main-header__contacts-callback {
  color: var(--color-white);
}