.services {
  background-color: $gable-green;
}

.services .container {
  padding-top: 40px;
  padding-bottom: 80px;
}

.services__title {
  margin: 0;
  padding: 40px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $white;

  @include md {
    max-width: 620px;
    font-size: 32px;
    line-height: 45px;
  }

  @include mb {
    font-size: 28px;
    line-height: 39px;
  }
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-top: 50px;

  @include md {
    display: block;
    margin-top: 40px;
  }

  @include mb {
    margin-top: 30px;
  }
}

.services__item {
  margin-left: 2%;
  width: 32%;
  height: 620px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-color 0.3s;

  &:hover {
    background-color: $dodger-blue;
    transition: background-color 0.3s;

    .services__item-link::before {
      color: $dodger-blue;
      background-color: $white;
    }
  }

  &:not(:nth-child(-n+3)) {
    margin-top: 30px;
  }

  &:nth-child(3n+1) {
    margin-left: 0;
  }

  &--production {
    background-image: url(../img/desktop/production.png);

    @include md {
      background-image: url(../img/tablet/production-tb.png);
    }
  }

  &--mounting {
    background-image: url(../img/desktop/mounting.png);

    @include md {
      background-image: url(../img/tablet/production-tb.png);
    }
  }

  &--component-parts {
    background-image: url(../img/desktop/component-parts.png);

    @include md {
      background-image: url(../img/tablet/production-tb.png);
    }
  }

  @include md {
    margin-top: 30px;
    margin-left: 0;
    width: 100%;
    height: 256px;
  }
}

.services__item-link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;

  &::before {
    content: ">";
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 63px;
    font-size: 18px;
    line-height: 1;
    color: $white;
    background-color: $dodger-blue;
  }
}

.services__item-title {
  padding: 50px 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $white;

  @include md {
    padding: 20px;
  }
}
