.advantages {
  padding: 32px 55px;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 336px;
    height: 324px;
    left: 10.5%;
    top: 6.2%;
    background-image: url(../img/triangle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 576px;
    height: 874px;
    bottom: -76%;
    left: 0;
    background-image: url(../img/triangle2.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }

  @media (max-width: $tablet-width) {
    padding: 32px 25px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 6px 15px;
  }
}

.advantages__wrapper {
  margin: 82px auto 0 auto;
  max-width: 1170px;

  &::before {
    content: "";
    position: absolute;
    width: 576px;
    height: 874px;
    bottom: -35.5%;
    left: 29%;
    background-image: url(../img/triangle2.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 336px;
    height: 324px;
    right: 1.4%;
    top: 53%;
    background-image: url(../img/triangle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    transform: rotate(180deg);
  }

  @media (max-width: $tablet-width) {
    margin: 22px auto 0 auto;

    &::after {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    margin: 30px auto 0 auto;

    &::before {
      display: none;
    }
  }
}

.advantages__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 620px) {
    display: block;
  }
}

.advantages__item {
  box-sizing: border-box;
  padding: 40px 42px 65px 42px;
  width: 48.6%;
  border: 1px solid $light-telegray;
  border-left: 3px solid $frosty-sky;
  background-color: $white;

  &:nth-child(3n) {
    margin-top: 28px;
  }

  &:nth-child(4n) {
    margin-top: 28px;
  }

  &:hover {
    background-color: $frosty-sky;
    color: $white;
    cursor: pointer;
  }

  @media (max-width: $tablet-width) {
    padding: 23px 20px 20px 24px;
    width: 48%;
  }

  @media (max-width: 620px) {
    margin: 30px 0 0 0;
    width: 100%;

    &:first-child {
      margin: 0;
    }

    &:nth-child(3n) {
      margin-top: 23px;
    }
  }

  @media (max-width: $mobile-width) {
    margin: 20px 0 0 0;
    padding: 25px 15px 20px 21px;
  }
}

.advantages__item:hover .advantages__item-icon {
  fill: $white;
}

.advantages__item:hover .advantages__item-title {
  color: $white;
}

.advantages__item-icon {
  display: inline-block;
  height: 35px;
  vertical-align: bottom;

  fill: $frosty-sky;
}

.advantages__item-title {
  margin: 20px 0 0 0;
  padding: 0;
  color: $frosty-sky;
  font-weight: 400;
  font-size: 24px;
  font-family: $RobotoCondensed;
  line-height: 34px;

  @media (max-width: $tablet-width) {
    margin: 8px 0 0 0;
  }

  @media (max-width: $mobile-width) {
    margin: 12px 0 0 0;
    font-size: 20px;
    line-height: 28px;
  }
}

.advantages__item-text {
  margin: 16px 0 0 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    margin: 10px 0 0 0;
  }
}
