.consultation {
  position: relative;
  padding: 0 55px;
  background-color: $frosty-sky;

  &::before {
    position: absolute;
    top: 14.2%;
    left: 10.2%;
    width: 31.82%;
    height: 487px;
    background-image: url(../img/triangles.png);
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
  }

  &::after {
    position: absolute;
    top: 24.2%;
    left: 18.2%;
    width: 26.61%;
    height: 288px;
    background-image: url(../img/form-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
  }

  @media (max-width: 1024px) {
    padding: 0 35px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @media (max-width: 420px) {
    padding: 0 15px;
  }
}

.consultation__wrapper {
  margin: 0 0 0 50%;
  padding: 92px 10px 115px 10px;
  width: 50%;

  @media (max-width: 1024px) {
    margin: 0 auto;
    width: 100%;
  }

  @media (max-width: $tablet-width) {
    padding: 80px 10px 105px 10px;
    width: 84.3%;
  }

  @media (max-width: 420px) {
    padding: 30px 0 42px 0;
    width: 100%;
  }
}

.consultation__title {
  margin: 0;
  padding: 0;
  color: $white;
  font-weight: 400;
  font-size: 36px;
  font-family: $RobotoCondensed;
  line-height: 52px;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 38px;
  }

  @media (max-width: 420px) {
    font-size: 28px;
    line-height: 39px;
  }
}

.consultation__text {
  margin: 10px 0 0 6px;
  color: $white;

  @media (max-width: $tablet-width) {
    margin: 20px 0 0 4px;
  }

  @media (max-width: $mobile-width) {
    margin: 12px 0 0 4px;
  }
}

.consultation__form {
  margin: 10px 0 0 6px;
  max-width: 63%;

  @media (max-width: 1400px) {
    margin: 10px 0 0 5px;
    max-width: 100%;
  }
}

.consultation__form-input-line {
  display: flex;
  margin: 50px 0 0 0;

  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width) {
    margin: 57px 0 0 0;
  }

  @media (max-width: 420px) {
    margin: 27px 0 0 0;
    display: block;
  }
}


.consultation__value {
  display: inline-block;
  box-sizing: border-box;
  padding: 12px 14px 15px 14px;
  width: 47%;
  border: none;
  background-color: $transparent-white;
  color: $white;
  vertical-align: middle;
  font-size: 16px;
  font-family: $PTmono;
  line-height: 22px;

  &::placeholder {
    color: $white;
    font-size: 16px;
    font-family: $PTmono;
    line-height: 22px;
  }

  @media (max-width: 420px) {
    width: 100%;
    margin: 34px 0 0 0;

    &:first-child {
      margin: 0;
    }
  }
}

.consultation__question {
  box-sizing: border-box;
  margin: 40px 0 0 0;
  padding: 12px 21px 10px 16px;
  min-height: 154px;
  width: 100%;
  border: none;
  background-color: $transparent-white;
  color: $white;
  font-size: 16px;
  font-family: $PTmono;
  line-height: 22px;
  resize: none;

  &::placeholder {
    color: $white;
    font-size: 16px;
    font-family: $PTmono;
    line-height: 22px;
  }

  @media (max-width: $tablet-width) {
    min-height: 162px;
  }

  @media (max-width: 420px) {
    margin: 32px 0 0 0;
    min-height: 104px;
  }
}

.consultation__form-bottom {
  display: flex;
  margin: 39px 0 0 0;

  justify-content: space-between;

  @media (max-width: 640px) {
    display: block;
  }

  @media (max-width: 420px) {
    margin: 24px 0 0 0;
  }
}

.consultation__checkbox-block {
  margin: 8px 0 0 37px;

  @media (max-width: 640px) {
    margin: 40px 0 0 0;
  }

  @media (max-width: 420px) {
    margin: 32px 0 0 0;
  }
}

.consultation__checkbox {
  display: none;
}

.consultation__checkbox-block label {
  position: relative;
  display: inline-block;
  padding: 0 0 0 34px;
  max-width: 80%;
  color: $white;
  vertical-align: middle;
  font-size: 14px;
  font-family: $PTmono;
  line-height: 16px;
  opacity: 0.8;

  &:hover {
    cursor: pointer;
  }

  &::before {
    position: absolute;
    left: 0;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border: 1px solid $white;
    content: "";
  }

  @media (max-width: 640px) {
    max-width: 100%;
  }
}

.consultation__checkbox:checked + label::before {
  background-image: url(../img/checkbox.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.consultation__btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 12px 18px;
  min-width: 270px;
  border: 1px solid $white;
  border-radius: 5px;
  background-color: $frosty-sky;
  color: $white;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-size: 14px;
  font-family: $RobotoCondensed;
  line-height: 16px;
  cursor: pointer;

  &:hover {
    background-color: $white;
    color: $frosty-sky;
  }

  &:active {
    opacity: 0.4;
  }

  @media (max-width: $tablet-width) {
    padding: 14px 20px;
    min-width: 280px;
  }

  @media (max-width: 640px) {
    min-width: 100%;
  }
}
