.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.modal-show {
  display: block;
}

.modal__overlay {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: $transparent-black;
}

.modal__overlay-show {
  display: block;

  &:hover {
    cursor: pointer;
  }
}

.modal__wrapper {
  position: relative;
  overflow: hidden;
  margin: 7.1% auto 0 auto;
  padding: 32px 40px;
  max-width: 412px;
  background-color: $frosty-sky;

  @media (max-width: 1400px) {
    margin: 3% auto 0 auto;
  }
}

.modal__title {
  margin: 0;
  color: $white;
  font-weight: 400;
  font-size: 28px;
  font-family: $RobotoCondensed;
  line-height: 39px;
}

.modal__text {
  margin: 12px 0 0 0;
  max-width: 370px;
  color: $white;
  font-weight: 400;
  font-size: 16px;
  font-family: $PTmono;
  line-height: 22px;
}

.modal__form {
  margin: 32px 0 0 0;
}

.modal__value {
  box-sizing: border-box;
  margin: 30px 0 0 0;
  padding: 16px 21px 20px 21px;
  width: 100%;
  border: none;
  background-color: $transparent-white;
  color: $white;
  font-size: 16px;
  font-family: $PTmono;
  line-height: 22px;

  &:first-child {
    margin: 0;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 22px;
    font-family: $PTmono;
    color: $white;
  }
}

.modal__question {
  box-sizing: border-box;
  margin: 30px 0 0 0;
  padding: 10px 21px 10px 21px;
  min-height: 104px;
  width: 100%;
  border: none;
  background-color: $transparent-white;
  color: $white;
  font-size: 16px;
  font-size: 16px;
  font-family: $PTmono;
  font-family: $PTmono;
  line-height: 22px;
  line-height: 22px;
  resize: none;

  &::placeholder {
    color: $white;
    font-size: 16px;
    font-family: $PTmono;
    line-height: 22px;
  }
}

.modal__header-btn-close {
  position: absolute;
  top: 3.2%;
  right: 4%;
  display: inline-block;
  width: 17px;
  height: 17px;
  border: none;
  background-color: transparent;
  background-image: url(../img/icon-close.svg);
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }
}

.modal__btn {
  box-sizing: border-box;
  margin: 24px 0 0 0;
  padding: 15px 0 14px 0;
  width: 100%;
  border: 1px solid $white;
  border-radius: 5px;
  background-color: $frosty-sky;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-size: 14px;
  font-family: $RobotoCondensed;
  line-height: 16px;
  cursor: pointer;

  &:hover {
    background-color: $white;
    color: $frosty-sky;
  }

  &:active {
    opacity: 0.4;
  }
}

.modal__checkbox-block {
  margin: 36px 0 0 0;
}

.modal__checkbox {
  display: none;
}

.modal__checkbox-block label {
  position: relative;
  display: inline-block;
  padding: 0 0 0 46px;
  max-width: 80%;
  color: $white;
  vertical-align: middle;
  font-size: 14px;
  font-family: $PTmono;
  line-height: 16px;
  opacity: 0.8;

  &:hover {
    cursor: pointer;
  }

  &::before {
    position: absolute;
    left: 0;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border: 1px solid $white;
    content: "";
  }
}

.modal__checkbox:checked + label::before {
  background-image: url(../img/checkbox.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
