.page-footer {
  padding: 0 55px;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    padding: 0 25px;
  }

  @media (max-width: 480px) {
    padding: 0 15px;
  }
}

.page-footer__top {
  display: flex;
  margin: 51px auto 0 auto;
  max-width: 1412px;

  justify-content: space-between;

  @media (max-width: 1024px) {
    display: block;
  }

  @media (max-width: $tablet-width) {
    margin: 0;
  }

  @media (max-width: 480px) {
    margin: 46px 0 0 0;
  }
}

.page-footer__logo-and-socials {
  margin: 12px 0 0 0;

  @media (max-width: 1024px) {
    display: flex;

    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: $tablet-width) {
    margin: 18px 0 0 0;
  }

  @media (max-width: 480px) {
    display: block;
    margin: 30px 0 0 0;
  }
}

.page-footer__logo {
  display: flex;
  align-items: center;

  @media (max-width: 480px) {
    justify-content: center;
  }
}

.page-footer__logo-text-block {
  margin: 8px 0 0 14px;
}

.page-footer__logo-title {
  margin: 0;
  font-size: 25px;
  font-family: $RobotoCondensed;
  line-height: 29px;
}

.page-footer__logo-tagline {
  margin: 0;
  padding: 0 0 0 0;
  color: $gray-squirrel;
  font-weight: 500;
  font-size: 12px;
  font-family: $Roboto;
  line-height: 14px;
}

.page-footer__term-work--desc-hidden {
  display: none;

  @media (max-width: 1024px) {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-weight: 400;
    font-size: 13px;
    font-family: $PTmono;
    line-height: 24px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 0 0 20px;
  }

  @media (max-width: 640px) {
    display: none;
  }

  @media (max-width: 480px) {
    display: inline-block;
    margin: 26px 0 0 0;
    padding: 0;
    width: 100%;
    vertical-align: middle;
    text-align: center;
  }
}

.page-footer__socials-list {
  display: flex;
  margin: 54px 0 0 0;
  padding: 0;
  list-style: none;

  @media (max-width: 1024px) {
    margin: 0;
  }

  @media (max-width: 480px) {
    justify-content: center;
    margin: 30px 0 0 0;
  }
}

.page-footer__socials-item {
  margin: 0 0 0 14px;

  &:first-child {
    margin: 0;
  }
}

.page-footer__socials-icon {
  fill: $gainsborough;

  &:hover {
    fill: $frosty-sky;
  }

  &:active {
    opacity: 0.4;
  }
}


.page-footer__menu-and-contacts {
  display: flex;
  width: 70.25%;

  justify-content: space-between;

  @media (max-width: 1024px) {
    margin: 30px 0 0 0;
    width: 100%;
  }

  @media (max-width: $tablet-width) {
    margin: 48px 0 0 0;
    width: 98.8%;
  }

  @media (max-width: 480px) {
    display: block;
    margin: 50px 0 0 0;
    text-align: left;
  }
}

.page-footer__nav-title,
.page-footer__about-office-title {
  color: $green-blue;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-size: 15px;
  font-family: $RobotoCondensed;
  line-height: 16px;
}

.page-footer__nav-title {
  @media (max-width: 480px) {
    position: relative;
    margin: 0 0 0 -15px;
    padding: 30px 0 26px 15px;
    width: calc(100% + (15px * 2));
    border-top: 1px solid $transparent-mouse-gray;

    &::before {
      position: absolute;
      top: 50%;
      right: 9%;
      width: 16px;
      height: 1px;
      background-color: $silver;
      content: "";
      transform: translateY(-50%);
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 9%;
      width: 16px;
      height: 1px;
      background-color: $silver;
      content: "";
      transform: rotate(-90deg);
    }

    &--close {
      &::before {
        position: absolute;
        top: 50%;
        right: 9%;
        width: 16px;
        height: 1px;
        background-color: $silver;
        content: "";
        transform: translateY(-50%);
      }

      &::after {
        display: none;
      }
    }
  }
}

.page-footer__about-office-title {
  @media (max-width: 480px) {
    position: relative;
    margin: 0 0 0 -15px;
    padding: 30px 0 26px 15px;
    width: calc(100% + (15px * 2));
    border-top: 1px solid $transparent-mouse-gray;

    &::before {
      position: absolute;
      top: 50%;
      right: 9%;
      width: 16px;
      height: 1px;
      background-color: $silver;
      content: "";
      transform: translateY(-50%);
    }

    &--close {
      border-bottom: 1px solid $transparent-mouse-gray;

      &::before {
        position: absolute;
        top: 50%;
        right: 9%;
        width: 16px;
        height: 1px;
        background-color: $silver;
        content: "";
        transform: translateY(-50%);
      }

      &::after {
        position: absolute;
        top: 50%;
        right: 9%;
        width: 16px;
        height: 1px;
        background-color: $silver;
        content: "";
        transform: rotate(-90deg);
      }
    }
  }
}

@keyframes sortie {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.4;
  }

  60% {
    opacity: 0.4;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.page-footer__nav-list {
  display: inline-block;
  margin: 10px 0 20px 0;
  padding: 0;
  list-style: none;
  vertical-align: middle;
  column-count: 2;
  column-gap: 54px;
  transition: opacity 0.2;

  @media (max-width: $tablet-width) {
    column-count: 1;
  }

  @media (max-width: 480px) {
    display: none;
    animation: sortie.8s;
  }

  &--open {
    display: block;
  }
}

.page-footer__nav-item {
  padding: 0 20px 0 0;
}

.page-footer__nav-link {
  color: $green-blue;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  font-family: $PTmono;
  line-height: 25px;
  opacity: 0.5;

  &:hover {
    color: $frosty-sky;
  }

  &:active {
    opacity: 0.2;
  }
}

.page-footer__about-office {
  @media (max-width: 480px) {
    margin: 30px 0 0 0;
  }

  @media (max-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__about-office-list {
  display: block;
  margin: 26px 0 0 0;
  padding: 0;
  list-style: none;

  &--close {
    display: none;
  }

  @media (max-width: 480px) {
    margin: 2px 0 0 0;
    animation: sortie.8s;
  }
}

.page-footer__about-office-item p {
  color: $green-blue;
  font-weight: 400;
  font-size: 15px;
  font-family: $PTmono;
  line-height: 25px;
  opacity: 0.5;
}

.page-footer__about-office-adress {
  margin: 0;
}

.page-footer__about-office-tel {
  text-decoration: none;
  color: $green-blue;
  font-family: $PTmono;
  font-size: 15px;
  line-height: 25px;
  margin: 0;
  opacity: 0.5;

  &:hover {
    color: $frosty-sky;
  }

  &:active {
    opacity: 0.2;
  }
}

.page-footer__bottom-line {
  margin: 56px 0 0 -55px;
  width: calc(100% + (55px * 2));
  height: 1px;
  border: none;
  background-color: $mouse-gray;
  color: $mouse-gray;
  opacity: 0.2;

  @media (max-width: 1024px) {
    margin: 30px 0 0 -55px;
  }

  @media (max-width: $tablet-width) {
    width: calc(100% + (25px * 2));
    margin: 36px 0 0 -25px;
  }

  @media (max-width: 480px) {
    width: calc(100% + (15px * 2));
    margin: 26px 0 0 -15px;
  }
}

.page-footer__bottom {
  display: flex;
  margin: 0 auto;
  max-width: 1412px;

  align-items: center;

  @media (max-width: 1024px) {
    justify-content: space-between;
  }

  @media (max-width: $tablet-width) {
    padding: 20px 0;
  }

  @media (max-width: 480px) {
    display: block;
    padding: 0 0 26px 0;
    margin: 30px 0 0 0;
  }
}

.page-footer__bottom p,
.page-footer__bottom .page-footer__confidentiality {
  color: $green-blue;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-size: 13px;
  font-family: $PTmono;
  line-height: 24px;
  opacity: 0.5;

  @media (max-width: 480px) {
    width: 100%;
    text-align: center;
  }
}

.page-footer__term-work-tb-hidden {
  margin: 0 0 0 5%;

  @media (max-width: 1024px) {
    display: none;
  }

  @media (max-width: 480px) {
    display: none;
  }
}

.page-footer__confidentiality {
  display: inline-block;
  margin: 0 0 0 10%;
  vertical-align: middle;
  text-decoration: none;

  &:hover {
    color: $frosty-sky;
  }

  &:active {
    opacity: 0.2;
  }

  @media (max-width: 1024px) {
    margin: 0;
  }
}

.page-footer__developer {
  margin: 0 0 0 29%;

  @media (max-width: 1024px) {
    margin: 0;
  }

  @media (max-width: 480px) {
    margin: 18px 0 0 0;
  }
}

@media (max-width: $tablet-width) {
  .page-footer__protection-of-rights {
    display: none;
  }
}
