.page-body {
  display: grid;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-weight: 400;
  font-size: 16px;
  font-family: $RobotoCondensed;
  line-height: 20px;

  grid-template-rows: min-content 1fr min-content;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
}
