@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "PTMono";
  src: url("../fonts/PTMono-Regular.woff2") format("woff2"), url("../fonts/PTMono-Regular.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}

.page-body {
  display: grid;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-weight: 400;
  font-size: 16px;
  font-family: $RobotoCondensed;
  line-height: 20px;

  grid-template-rows: min-content 1fr min-content;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
}
