$tablet-width: 768px;
$mobile-width: 320px;

$white: #FFFFFF;
$frosty-sky: #00B2FF;
$green-blue: #1B2D37;
$gray-squirrel: #788891;
$light-telegray: #EBEBEB;
$gainsborough: #999999;
$silver: #C4C4C4;
$mouse-gray: #626962;

$transparent-white: rgba(255, 255, 255, 0.1);
$transparent-black: rgba(0, 0, 0, 0.8);
$transparent-mouse-gray: rgba(98, 105, 98, 0.2);

$RobotoCondensed: "RobotoCondensed", "Tahoma", sans-serif;
$Roboto: "Roboto", "Tahoma", sans-serif;
$PTmono: "PTMono", "Arial", sans-serif;
