<section class="about-company">
  <h2 class="visually-hidden">О компании</h2>
  <div class="container">
    <article class="about-company__article">
      <h3 class="about-company__title">О компании</h3>
      <div class="about-company__text">
        <p class="about-company__descr">Мы поставляем электронные комплектующие, производим печатные платы и
          предоставляем
          мировые технологии с 1997 года. Выполняем срочные заказы и пилотные образцы до 10 дней.</p>
        <p class="about-company__descr">Наши поставщики - мировые производители электронных компонентов: OSRAM, CREE,
          HOLGLITRONIC, REFOND. Печатные платы и комплектующие Service Devices применяются на предприятиях Российских
          Железных Дорог <span>(РЖД), РоссАвтоПрома (ВАЗ, АвтоГАЗ), МинАтома, СпецМедТехники. Среди наших клиентов крупнейшие Производители светотехники России.</span>
        </p>
      </div>
      <a href="#" class="about-company__link btn">Подробнее</a>
    </article>
  </div>
</section>

