<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">Преимущества</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <svg class="advantages__item-icon" width="30" height="37">
          <use xlink:href="img/sprite.svg#icon-clock"/>
        </svg>
        <h3 class="advantages__item-title">Оперативные сроки</h3>
        <p class="advantages__item-descr">Усовершенствованная логистическая система позволяет нам просчитывать
          стоимость, производить и доставлять заказы плат и комплектующих в самые короткие сроки</p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__item-icon" width="32" height="33">
          <use xlink:href="img/sprite.svg#icon-hired"/>
        </svg>
        <h3 class="advantages__item-title">Крупные поставщики</h3>
        <p class="advantages__item-descr">Нашими поставщиками являются такие крупные мировые компании как: OSRAM, CREE,
          HOLGLITRONIC, REFOND. Сотрудничество с такими компаниями обеспичивает хорошее качество нашей продукции.</p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__item-icon" width="31" height="27">
          <use xlink:href="img/sprite.svg#icon-detective"/>
        </svg>
        <h3 class="advantages__item-title">Полная конфиденциальность</h3>
        <p class="advantages__item-descr">По желанию клиента мы обеспечиваем полную конфеденциальность.</p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__item-icon" width="33" height="33">
          <use xlink:href="img/sprite.svg#icon-price"/>
        </svg>
        <h3 class="advantages__item-title">Персонализация стоимости</h3>
        <p class="advantages__item-descr">Мы подбираем определенную фабрику, поставщиков, вид доставки, чтобы установить
          ту цену, которая Вас устраивает.</p>
      </li>
    </ul>
  </div>
</section>
