<div class="contacts">
  <div class="contacts__links">
    <a class="contacts__link" href="mailto:info@sd.ru" aria-label="Почтовый адрес">
      <svg class="contacts__icon  contacts__icon--email" width="19" height="14">
        <use xlink:href="img/sprite.svg#icon-email"/>
      </svg>
      <p class="contacts__link-text">info@sd.ru</p>
    </a>
    <a class="contacts__link" href="tel:74950005252" aria-label="Номер телефона">
      <svg class="contacts__icon  contacts__icon--tel" width="18" height="18">
        <use xlink:href="img/sprite.svg#icon-phone"/>
      </svg>
      <p class="contacts__link-text">+7 (495) 000 52 52</p>
    </a>
  </div>
  <button class="contacts__btn btn-reset btn" type="button">Заказать звонок</button>
</div>
