<nav class="menu-info__block extra-menu">
  <h3 class="extra-menu__title menu-info__title">Разделы сайта</h3>
  <button class="extra-menu__toggle accordion__toggle accordion__toggle--current btn-reset" aria-label="Показать / Скрыть">Разделы сайта</button>
  <ul class="extra-menu__list menu-info__list">
    <li class="extra-menu__item">
      <a class="extra-menu__link" href="#">О компании</a>
    </li>
    <li class="extra-menu__item">
      <a class="extra-menu__link" href="#">Продукты</a>
    </li>
    <li class="extra-menu__item">
      <a class="extra-menu__link" href="#">Производство печатных плат</a>
    </li>
    <li class="extra-menu__item">
      <a class="extra-menu__link" href="#">Монтаж печатных плат</a>
    </li>
    <li class="extra-menu__item">
      <a class="extra-menu__link" href="#">Комплектующие</a>
    </li>
    <li class="extra-menu__item">
      <a class="extra-menu__link" href="#">Доставка</a>
    </li>
    <li class="extra-menu__item">
      <a class="extra-menu__link" href="#">Контакты</a>
    </li>
  </ul>
</nav>
