<section class="hero">
  <div class="container">
    <div class="hero__text-wrapper">
      <h2 class="hero__title">Печатные платы</h2>
      <p class="hero__descr">Производство и монтаж, поставка комплектующих, блоков и модулей</p>
      <a class="hero__link btn" href="#consultation">
        <span class="hero__link--detail">Получить бесплатную консультацию</span>
        <span class="hero__link--briefly">Бесплатная консультация</span>
      </a>
    </div>
    <a class="hero__scroll" href="#advantages">Скролл вниз</a>
  </div>
</section>
