<div class="menu-info__block menu-info__block--hidden office-contacts">
  <h3 class="office-contacts__title menu-info__title">Наш Офис</h3>
  <button class="office-contacts__toggle accordion__toggle btn-reset" aria-label="Показать / Скрыть">Наш Офис</button>
  <ul class="office-contacts__list menu-info__list">
    <li class="office-contacts__item">
      <P class="office-contacts__text">г. Мытищи, Олимпийский проспект, д.10</P>
    </li>
    <li class="office-contacts__item">
      <a class="office-contacts__link" href="tel:74955894050">+7 (495) 589-40-50</a>
    </li>
    <li class="office-contacts__item">
      <a class="office-contacts__link" href="tel:79250038767">+7 (925) 003-87-67</a>
    </li>
    <li class="office-contacts__item">
      <a class="office-contacts__link" href="tel:792608079">+7 (926) 926-080-79</a>
    </li>
  </ul>
</div>
