<footer class="page-footer">
  <div class="container">
    <div class="page-footer__wrapper">
      <div class="page-footer__column">
        @include('../partials/logo.html')
        <p class="page-footer__copyright-text page-footer__copyright-text--lg">1999-2018 SD Service Devices</p>
        @include('../partials/social.html')
      </div>
      <div class="page-footer__column">
        @include('../partials/menu-info.html')
      </div>
    </div>
    <div class="page-footer__wrapper">
      @include('../partials/copyright.html')
    </div>
  </div>
</footer>
