<section class="services">
  <div class="container">
    <h2 class="services__title">Service Device предлагает следующие товары и услуги</h2>
    <ul class="services__list">
      <li class="services__item services__item--production">
        <a class="services__item-link" href="#">
          <h3 class="services__item-title">Производство печатных плат</h3>
        </a>
      </li>
      <li class="services__item services__item--mounting">
        <a class="services__item-link" href="#">
          <h3 class="services__item-title">Монтаж печатных плат</h3>
        </a>
      </li>
      <li class="services__item services__item--component-parts">
        <a class="services__item-link" href="#">
          <h3 class="services__item-title">Комплектующие для светотехники</h3>
        </a>
      </li>
    </ul>
  </div>
</section>
