//FONTS
$RobotoCondensed: "RobotoCondensed", "Tahoma", sans-serif;
$Roboto: "Roboto", "Tahoma", sans-serif;
$PTmono: "PTMono", "Arial", sans-serif;

//COLORS
$white: #ffffff;
$black: #000000;
$dodger-blue: #00b2ff;
$gable-green: #1b2d37;
$slate-gray: #788891;
$gallery: #ebebeb;
$dusty-gray: #999999;
$silver: #c4c4c4;
$corduroy: #626962;
$te-papa-green: #203C42;

//TRANSPARENT
$transparent-white: rgba(255, 255, 255, 0.1);
$transparent-black: rgba(0, 0, 0, 0.8);
$transparent-corduroy: rgba(98, 105, 98, 0.2);

//WIDTH
$mb-width: 320px;
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;
$xxl-width: 1400px;
